{% extends "component/layout.nunjucks" %}

{% block title%}AllWell-Products{%endblock%}
{%block script%}
function displayProduct(p){
		$('.product').hide();
		$('.active').removeClass('active');
		$('#'+p).addClass('active');
		$('.'+p).show();
	}
displayProduct('plasticmolds');
{%endblock%}
{%block body%}
<div class="row">
	<div class="col-sm-3">
		<ul class="nav nav-sidebar">
			<li id='plasticmolds'><a href="javascript:displayProduct('plasticmolds')">plastic molds</a></li>
			<li id='plasticparts'><a href="javascript:displayProduct('plasticparts')">plastic parts</a></li>
			<li id='cncparts'><a href="javascript:displayProduct('cncparts')" >cnc parts</a></li>
			<li id='diecastingparts'><a href="javascript:displayProduct('diecastingparts')">diecasting parts</a></li>
			<li id='stampingparts'><a href="javascript:displayProduct('stampingparts')">stamping parts</a></li>
			<li id='rubberparts'><a href="javascript:displayProduct('rubberparts')">rubber parts</a></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<div class="row">
			<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC Machining Parts 1.png" class="littleimg" style="width=200;height=200"><p>CNC Machining Parts 1</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 10.png" class="littleimg" style="width=200;height=200"><p>CNC machining parts 10</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 11.png" class="littleimg" style="width=200;height=200"><p>CNC machining parts 11</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 12.png" class="littleimg" style="width=200;height=200"><p>CNC machining parts 12</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 13.jpg" class="littleimg" style="width=200;height=200"><p>CNC machining parts 13</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 14.jpg" class="littleimg" style="width=200;height=200"><p>CNC machining parts 14</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 15.jpg" class="littleimg" style="width=200;height=200"><p>CNC machining parts 15</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 2.jpg" class="littleimg" style="width=200;height=200"><p>CNC machining parts 2</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC Machining parts 3.jpg" class="littleimg" style="width=200;height=200"><p>CNC Machining parts 3</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC Machining Parts 4.jpg" class="littleimg" style="width=200;height=200"><p>CNC Machining Parts 4</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC Machining Parts 5.jpg" class="littleimg" style="width=200;height=200"><p>CNC Machining Parts 5</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC Machining parts 6.jpg" class="littleimg" style="width=200;height=200"><p>CNC Machining parts 6</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC Machining parts 7.jpg" class="littleimg" style="width=200;height=200"><p>CNC Machining parts 7</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 8.jpg" class="littleimg" style="width=200;height=200"><p>CNC machining parts 8</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC machining parts 9.png" class="littleimg" style="width=200;height=200"><p>CNC machining parts 9</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/cnc miling parts 1.jpg" class="littleimg" style="width=200;height=200"><p>cnc miling parts 1</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC miling parts 2.jpg" class="littleimg" style="width=200;height=200"><p>CNC miling parts 2</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC turning parts 1.jpg" class="littleimg" style="width=200;height=200"><p>CNC turning parts 1</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC turning parts 2.jpg" class="littleimg" style="width=200;height=200"><p>CNC turning parts 2</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC turning parts 3.jpg" class="littleimg" style="width=200;height=200"><p>CNC turning parts 3</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC turning parts 4.jpg" class="littleimg" style="width=200;height=200"><p>CNC turning parts 4</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC turning parts 5.jpg" class="littleimg" style="width=200;height=200"><p>CNC turning parts 5</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC turning parts 6.jpg" class="littleimg" style="width=200;height=200"><p>CNC turning parts 6</p></div>
<div class="product cncparts col-sm-3"><img src="img/CNC Parts/CNC turning parts 7.jpg" class="littleimg" style="width=200;height=200"><p>CNC turning parts 7</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 1.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 1</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 10.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 10</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 11.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 11</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 12.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 12</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 13.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 13</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 14.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 14</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 15.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 15</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 16.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 16</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/aluminum die casting parts 17.jpg" class="littleimg" style="width=200;height=200"><p>aluminum die casting parts 17</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 18.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 18</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/aluminum die casting parts 19.jpg" class="littleimg" style="width=200;height=200"><p>aluminum die casting parts 19</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 2.png" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 2</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 3.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 3</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 4.png" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 4</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 5.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 5</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 6.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 6</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/Aluminum Die Casting Parts 7.jpg" class="littleimg" style="width=200;height=200"><p>Aluminum Die Casting Parts 7</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/aluminum die casting parts 8.jpg" class="littleimg" style="width=200;height=200"><p>aluminum die casting parts 8</p></div>
<div class="product diecastingparts col-sm-3"><img src="img/Diecasting parts/aluminum die casting parts 9.jpg" class="littleimg" style="width=200;height=200"><p>aluminum die casting parts 9</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 1.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 1</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 10.png" class="littleimg" style="width=200;height=200"><p>plastic mold 10</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 11.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 11</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 12.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 12</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 13.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 13</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 2.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 2</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 3.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 3</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 4.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 4</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 5.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 5</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 6.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 6</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 7.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 7</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 8.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 8</p></div>
<div class="product plasticmolds col-sm-3"><img src="img/Plastic_molds/plastic mold 9.jpg" class="littleimg" style="width=200;height=200"><p>plastic mold 9</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/auto parts 1.jpg" class="littleimg" style="width=200;height=200"><p>auto parts 1</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/auto parts 2.jpg" class="littleimg" style="width=200;height=200"><p>auto parts 2</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/auto parts 3.jpg" class="littleimg" style="width=200;height=200"><p>auto parts 3</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/auto parts 4.jpg" class="littleimg" style="width=200;height=200"><p>auto parts 4</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/auto parts 5.jpg" class="littleimg" style="width=200;height=200"><p>auto parts 5</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Electrical Parts 1.jpg" class="littleimg" style="width=200;height=200"><p>Electrical Parts 1</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Electrical Parts 2.jpg" class="littleimg" style="width=200;height=200"><p>Electrical Parts 2</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Electrical Parts 3.jpg" class="littleimg" style="width=200;height=200"><p>Electrical Parts 3</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Electrical Parts 4.jpg" class="littleimg" style="width=200;height=200"><p>Electrical Parts 4</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Electrical Parts 5.jpg" class="littleimg" style="width=200;height=200"><p>Electrical Parts 5</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Electrical Parts 6.jpg" class="littleimg" style="width=200;height=200"><p>Electrical Parts 6</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/electronic parts 1.jpg" class="littleimg" style="width=200;height=200"><p>electronic parts 1</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/electronic parts 2.jpg" class="littleimg" style="width=200;height=200"><p>electronic parts 2</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/electronic parts 3.jpg" class="littleimg" style="width=200;height=200"><p>electronic parts 3</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/houseware parts  1.jpg" class="littleimg" style="width=200;height=200"><p>houseware parts  1</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/houseware parts 2.jpg" class="littleimg" style="width=200;height=200"><p>houseware parts 2</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/houseware parts 3.jpg" class="littleimg" style="width=200;height=200"><p>houseware parts 3</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/houseware parts 4.jpg" class="littleimg" style="width=200;height=200"><p>houseware parts 4</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/houseware parts 5.jpg" class="littleimg" style="width=200;height=200"><p>houseware parts 5</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/houseware parts 6.jpg" class="littleimg" style="width=200;height=200"><p>houseware parts 6</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/houseware parts 7.jpg" class="littleimg" style="width=200;height=200"><p>houseware parts 7</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Plastic parts 1.jpg" class="littleimg" style="width=200;height=200"><p>Plastic parts 1</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 10.png" class="littleimg" style="width=200;height=200"><p>plastic parts 10</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 11.png" class="littleimg" style="width=200;height=200"><p>plastic parts 11</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 12.png" class="littleimg" style="width=200;height=200"><p>plastic parts 12</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/Plastic parts 2.png" class="littleimg" style="width=200;height=200"><p>Plastic parts 2</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 3.jpg" class="littleimg" style="width=200;height=200"><p>plastic parts 3</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 4.jpg" class="littleimg" style="width=200;height=200"><p>plastic parts 4</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 5.jpg" class="littleimg" style="width=200;height=200"><p>plastic parts 5</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 6.jpg" class="littleimg" style="width=200;height=200"><p>plastic parts 6</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 7.jpg" class="littleimg" style="width=200;height=200"><p>plastic parts 7</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 8.jpg" class="littleimg" style="width=200;height=200"><p>plastic parts 8</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/plastic parts 9.jpg" class="littleimg" style="width=200;height=200"><p>plastic parts 9</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/toy part 1.jpg" class="littleimg" style="width=200;height=200"><p>toy part 1</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/toy part 2.jpg" class="littleimg" style="width=200;height=200"><p>toy part 2</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/toy part 3.jpg" class="littleimg" style="width=200;height=200"><p>toy part 3</p></div>
<div class="product plasticparts col-sm-3"><img src="img/plastic parts/toy part 4.jpg" class="littleimg" style="width=200;height=200"><p>toy part 4</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 11.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 11</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 12.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 12</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 13.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 13</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 14.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 14</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 15.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 15</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 16.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 16</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 17.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 17</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 2.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 2</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 3.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 3</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 4.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 4</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 5.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 5</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 6.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 6</p></div>
<div class="product rubberparts col-sm-3"><img src="img/rubber parts/Rubber Parts 8.jpg" class="littleimg" style="width=200;height=200"><p>Rubber Parts 8</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 1.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 1</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 10.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 10</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 11.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 11</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 12.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 12</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 14.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 14</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 17.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 17</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 18.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 18</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 2.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 2</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 20.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 20</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 24.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 24</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 3.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 3</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 4.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 4</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 5.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 5</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 6.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 6</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 7.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 7</p></div>
<div class="product stampingparts col-sm-3"><img src="img/stamping parts/metal-stamping-parts 8.jpg" class="littleimg" style="width=200;height=200"><p>metal-stamping-parts 8</p></div>

		</div>
	</div>
</div>
{%endblock%}
